.mypy_cache
.pytest_cache
.ruff_cache
.venv
*venv
.vscode
.coverage
.env.example
.gitignore

dump
*.log
private
data

docker-compose.yml
Dockerfile
Makefile
LICENSE

*_cache
*.md
*.json

.dockerignore
