.mypy_cache
.pytest_cache
.ruff_cache
.venv
*venv
.vscode
.coverage
.env.example
.gitignore

tests

dump
*.log
private
data

docker-compose.yml
.pre-commit-config.yaml
Dockerfile
Makefile
LICENSE

*_cache
*.md
*.json

.dockerignore
