ENVIRONMENT=dev

# * goole API
GOOGLE_CLIENT_ID=client-id-here
GOOGLE_API_KEY=api-key-here

# * JWT AUTH
ACCESS_TOKEN_LIFETIME_MINUTES=15
JWT_SECRET_KEY=key-value-here
JWT_ALGORITHM=HS256

USE_NGROK=False
NGROK_AUTHTOKEN=token-value-here

BASE_URL=http://localhost:8000/
