version: "3.8"

services:
  fastapi:
    container_name: fastapi
    restart: always
    build: ./
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - "./data:/data"
      - "./logs:/logs"

  caddy:
    container_name: caddy
    restart: unless-stopped
    build:
      context: ./caddy
      dockerfile: ./Dockerfile
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./data/caddy_data:/data
      - ./data/caddy_config:/config
    depends_on:
      - fastapi
    environment:
      PROXY_BACKEND: ${PROXY_BACKEND}
      PROXY_PORT: ${PROXY_PORT}
      DOMAIN: ${DOMAIN}

volumes:
  caddy_data:
  caddy_config:
