name: checks

on: [push]

jobs:
  checks:
    runs-on: ubuntu-latest
    container:
      image: "../Dockerfile"

    steps:
    - uses: actions/checkout@v5

    - name: Run static checks via pre-commit
      run: uv run pre-commit run --all

    - name: Run tests and check coverage
      run: coverage run -m pytest ./src/
