name: checks

on: [push]

jobs:
  checks:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Build docker test image
      run: docker build -f ./.github/workflows/Dockerfile . --tag pic-back-test-image

    - name: Run static checks via pre-commit
      run: docker run -it pic-back-test-image:latest uv run pre-commit run --all

    - name: Run unit tests
      run: docker run -it pic-back-test-image:latest uv run pytest --cov=pic_back
